:root {
    --fs-16: 14px;
    --fs16: 14px;
    --fs-20: 16px;
    --fs-22: 22px;
    --fs-24: 24px;
    --fs-40: 28px;
    --fs-52: 40px;
    /* color */
    --clr-black: #000000;
    --clr-white:#FFFFFF;
    --clr-shadowSlider:#00000012;
    --clr-black10: #E6E6E6;
    --clr-lightWhite: #FAFAFA;
    --clr-lightRed: #F36A3E;
    --clr-lightBlack: #010101;
    --clr-footerBlack: #070707;
    --clr-greyWhite: #F9F9F9;
    --clr-lightWhite20: #383838;
    --clr-black20:#CCCCCC;
}

.color-lightwhite20 {
    background: var(--clr-lightWhite20);
}

.bg_black {
    background: var(--clr-footerBlack);
}

.bg-gryWhite {
    background: var(--clr-greyWhite);
}

.color-lightblack {
    color: var(--clr-lightBlack);
}

.color-lightRed {
    color: var(--clr-lightRed);
}

.color-lightWhite {
    color: var(--clr-lightWhite);
}

.color-black {
    color: var(--clr-black);
}

.text-16 {
    font-size: var(--fs-16);
}

.text16 {
    font-size: var(--fs16);
}

.text-20 {
    font-size: var(--fs-20);
}

.text-22 {
    font-size: var(--fs-22);
}

.text-24 {
    font-size: var(--fs-24);
}

.text-40 {
    font-size: var(--fs-40);
}

.text-52 {
    font-size: var(--fs-52);
}

@media (min-width:768px) {
    :root {
        --fs-16: 16px;
        --fs-24: 20px;
        --fs-52: 52px;
        --fs-40: 30px;
    }
}

@media (min-width:992px) {
    :root {
        --fs16: 16px;
        /* --fs-16: 16px; */
        /* --fs-20: 20px; */
        /* --fs-22: 22px; */
        --fs-24: 24px;
        --fs-40: 40px;
        /* --fs-52: 52px; */
    }
}