@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url(../css/root.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none !important;
}

.ff_rubik {
    font-family: 'Rubik', sans-serif;
}

.opacity_80 {
    opacity: 80%;
}

.opacity_90 {
    opacity: 90%;
}

/* ===========font-weight========== */
.fw-normal {
    font-weight: 400 !important;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-semibold {
    font-weight: 600;
}

/* ===========line-height========== */
.lh-19 {
    line-height: 19px;
}

.lh-21 {
    line-height: 21px;
}

.lh-22 {
    line-height: 22px;
}

.lh-23 {
    line-height: 23px;
}

.lh-26 {
    line-height: 26px;
}

.lh-28 {
    line-height: 28px;
}

.lh-29 {
    line-height: 29px;
}

.lh-36 {
    line-height: 36px;
}

.lh-37 {
    line-height: 37px;
}

.lh-41 {
    line-height: 41px;
}

.lh-53 {
    line-height: 53px;
}

.lh-62 {
    line-height: 62px;
}

.container_1140 {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.opacity_70 {
    opacity: 70%;
}

/* ========hero=========== */
.gap_30 {
    gap: 30px;
}

.gap_41 {
    gap: 41px;
}

.gap_7 {
    gap: 7px;
}

.mb_20 {
    margin-bottom: 20px;
}

.mt_35 {
    margin-top: 35px;
}

.comn_btn {
    padding: 17px 38px;
    background: var(--clr-lightRed);
    border-radius: 41px;
    border: 1px solid transparent;
    transition: all 0.1s linear;
}

.comn_btn:hover {
    background: transparent;
    color: var(--clr-lightRed);
    border: 1px solid var(--clr-lightRed);
}

.hero_btn {
    padding: 12px 23px;
    border-radius: 41px;
    border: 1px solid var(--clr-lightRed);
    background: transparent;
    transition: all 0.2s linear;
}

.hero_btn:hover {
    background: var(--clr-lightRed);
    color: var(--clr-lightWhite);
}

.position_page1 {
    top: 9%;
    left: 40px;
}

.position_page2 {
    top: 9%;
    right: 55px;
}

.position_page3 {
    bottom: 1%;
    left: 85px;
}

.position_page4 {
    bottom: 1%;
    right: 85px;
}

.position_orngBall {
    top: 12%;
    right: 73%;
}

.hero_ellip {
    width: 518px;
    height: 95px;
    background: var(--clr-lightRed);
}

.position_ellipHero {
    top: 17%;
    right: 25%;
    opacity: 54%;
    filter: blur(74px);
}

.position_left_smalImg {
    top: 36%;
    left: 18%;
}

.position_right_smalImg {
    top: 26%;
    right: 5%;
}

.position_heroBottom_img {
    bottom: 10%;
    right: 43%;
}

.orng_underline::after {
    content: '';
    position: absolute;
    background-image: url(../images/png/ornge-bottom-line.png);
    max-width: 345px;
    width: 100%;
    min-height: 11px;
    left: 0;
    bottom: -5px;
    background-size: 241px 9px;
    background-repeat: no-repeat;
}

.nav_links:hover {
    color: var(--clr-lightRed);
}

.nav_links1 {
    --c: var(--clr-lightRed);
    --s: .15em;
    line-height: 1.1em;
    padding-bottom: calc(2.1*var(--s));
    background:
        conic-gradient(from 135deg at top, var(--c) 90deg, #0000 0) left 0 bottom var(--s)/calc(2*var(--s)) var(--s) repeat-x,
        conic-gradient(from -45deg at bottom, var(--c) 90deg, #0000 0) left var(--s) bottom 0/calc(2*var(--s)) var(--s) repeat-x;
    -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0) 0/var(--_p, 0%) padding-box no-repeat;
    transition: .2s;
}

.nav_links1:hover {
    --_p: 100%;
    color: var(--c);
}

.hover:hover svg path {
    fill: var(--clr-lightRed);
}

.slick-dots li.slick-active {
    background: var(--clr-lightRed);
    width: 23px;
    height: 5px;
}

.slick-dots li button:before {
    content: unset;
}

.slick-dots li {
    content: unset;
    width: 16px;
    height: 5px;
    background: var(--clr-black10);
    margin: 4px;
    border-radius: 6px;
    transition: all 300ms linear;
}

/* ===========themes============= */
.py_100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.mt_40 {
    margin-top: 40px;
}

.z_-1 {
    z-index: -1;
}

.themes_box {
    box-shadow: 0px 4px 30px 0px var(--clr-shadawBlack);
    border: 1px solid var(--clrborderBlack);
    max-width: 156px;
    height: 141px;
    border-radius: 8px;
    margin-top: 40px;
}

.slick-track {
    display: flex;
    gap: 16px;
}

#slider_theam .slick-slide.slick-current.slick-active .themes_box {
    border: 1px solid var(--clr-borderRed);
    box-shadow: 0px 4px 30px 0px var(--clr-shadawBlack);
}

#slider_theam .slick-slide.slick-current.slick-active .themes_box>h3 {
    color: var(--clr-lightRed);
}

.position_theamRight_ellip {
    right: 0;
    top: 50%;
}

.ellip_theamProperty {
    width: 184px;
    height: 159px;
    background: var(--clr-lightRed);
}

/* ===============powerflul============= */
.py_40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mx_w_78 {
    width: 78px;
}

.powerfulll_cubePosition {
    top: 7%;
    right: 5%;
}

.position_orangeBall_powerfull {
    top: 14%;
    left: 5%;
}

.position_roundShap_powerfull {
    bottom: 14%;
    left: 46%;
}

/* ===============will-help============ */
.max_w_161 {
    max-width: 161px;
}

.mb_11 {
    margin-bottom: 11px;
}

.help_rowGap {
    row-gap: 40px;
}

.ellip_property {
    width: 165px;
    height: 143px;
    background: var(--clr-lightRed);
}

.top_137 {
    top: 137px;
}

.bottom_54 {
    bottom: 54px;
}

.blurness {
    opacity: 45%;
    filter: blur(120px);
}

/* ============professionly-designed========== */
.py_40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mb_10 {
    margin-bottom: 10px;
}

.gap_9 {
    gap: 9px;
}

.profession_ellipPosition {
    top: 50%;
    left: 58%;
}

/* ================resume-trailoring============= */
.resum_EllipPosition {
    right: 1%;
    top: 33%;
}

/* =================client-slider============= */
.max_w_321 {
    max-width: 321px;
}

.py_40_30 {
    padding-top: 40px;
    padding-bottom: 90px;
}

.mt_31 {
    margin-top: 31px;
}

.mb_30 {
    margin-bottom: 30px;
}

.mt_43 {
    margin-top: 43px;
}

.gap_10 {
    gap: 10px;
}

.position_clientEllip {
    top: -57px;
    left: 0;
    z-index: -1;
}

.slider_content_box {
    box-shadow: 0px 18px 24px 0px var(--clr-shadowSlider);
    background: var(--clr-white);
    max-width: 323px;
    padding: 15px 18px;
    border-radius: 10px;
}

.position_sliderCone {
    bottom: -28px;
    left: 23px;
}

.outerBox {
    width: 41.69px;
    height: 41.69px;
    border: 1.42px solid var(--clr-lightRed);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s linear;
}

.outerBox:hover {
    background: var(--clr-lightRed);
}

.outerBox:hover svg path {
    fill: var(--clr-white);
}

.position_prev {
    z-index: 3;
    top: 82%;
    left: 35%;
}

.position_next {
    z-index: 3;
    top: 82%;
    right: 38%;
}

.position_clientImg {
    top: 1%;
    left: 56%;
}

/* ==============faq============== */
.max_w_786 {
    max-width: 786px;
}

.mb_30 {
    margin-bottom: 30px;
}

.py_100_10 {
    padding-top: 100px;
    padding-bottom: 10px;
}

.accordion-button:not(.collapsed) {
    background: transparent;
    box-shadow: none;
}

.accordion-button:focus {
    outline: none;
    box-shadow: none;
}

.accordion-item {
    border: none;
    padding: 24px 0;
}

.border_acc_bottom {
    border-bottom: 1px solid var(--clr-black10);
}

.accordion-button {
    color: var(--clr-lightBlack) !important;
    padding: 0;
}

.accordion-body {
    padding: 0;
    margin-top: 16px;
}

.accordion {
    max-width: 856px;
    margin-left: auto;
    margin-right: auto;
}

/* =========red-box=========== */
.mb_40 {
    margin-bottom: 40px;
}

.mb_33 {
    margin-bottom: 33px;
}

.gap_32 {
    gap: 32px;
}

.max_w_669 {
    max-width: 669px;
}

.max_w_615 {
    max-width: 615px;
}

.max_w_373 {
    max-width: 373px;
}

.red_box {
    max-width: 1140px;
    width: 100%;
    height: 381px;
    background: var(--clr-lightRed);
    border-radius: 21px;
    transform: translateY(21%);
}

.red_box_btn {
    padding: 17px 38px;
    background: var(--clr-lightWhite);
    border-radius: 41px;
    border: 2px solid transparent;
    transition: all 0.1s linear;
}

.red_box_btn:hover {
    background: var(--clr-black10);
    scale: 0.9;
}

/* ==================footer============ */
.gap_2{
    gap: 2px;
}
.py_20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.mt_30 {
    margin-top: 30px;
}

.pt_71 {
    padding-top: 71px;
}

.footer_rowGap_30 {
    row-gap: 20px;
}

.border_bottom {
    border: 1px solid var(--clr-lightWhite20);
}

.zoom {
    transition: all 0.2s linear;
}

.zoom:hover {
    scale: 1.1;
}

.topBtn {
    width: 40px;
    height: 40px;
    background: var(--clr-lightRed);
    border-radius: 50%;
    position: fixed;
    bottom: 3%;
    right: 2%;
    cursor: pointer;
    opacity: 0;
    transition: all 300ms linear;
    z-index: 1;
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 3px 15px 3px var(--clr-lightRed);
}

.topBtn.show {
    opacity: 1;
}

.topBtn:hover {
    box-shadow: 0px 3px 15px 3px var(--clr-white);
    scale: 1.2;
}

.cross span:nth-child(1) {
    transform: rotate(43deg) translateY(16px);
    transition: 300ms linear;
    background: var(--clr-lightRed);
    width: 25px;
}

.cross span:nth-child(2) {
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.5ms linear;
}

.cross span:nth-child(3) {
    transform: rotate(-47deg) translateY(-15px);
    transition: 300ms linear;
    background: var(--clr-lightRed);
    width: 25px;
}

@media (max-width:991.99px) {
    .overFlowHidden {
        overflow: hidden;
    }

    .menulist {
        width: 100%;
        height: 100vh;
        height: 100%;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column;
        transition: all 300ms linear;
        z-index: 3;
        background: var(--clr-white);
    }

    .menuIcon {
        width: 40px;
        cursor: pointer;
        transition: all 300ms linear;
    }

    .menuIcon>span {
        height: 3px;
        background: var(--clr-black);
        transition: all 300ms linear;
    }

    .grey_underline::before {
        content: "";
        position: absolute;
        border-bottom: 0.3px solid var(--clr-black20);
        width: 294px;
        transform: translateX(-50%);
        left: 50%;
        bottom: -24px;
    }

    .max_w_31 {
        max-width: 31px;
    }

    .max_w_548 {
        max-width: 548px;
    }

    .w_40 {
        max-width: 40px;
    }

    .ps_lg_0 {
        padding-left: 0;
    }
}

@media (min-width:768px) and (max-width:991.99px) {
    .justify_end {
        justify-content: center;
    }
}

@media (max-width:575.99px) {
    .justify_center {
        justify-content: center;
    }

    .theam_slider {
        margin-top: 40px;
    }
}

@media (min-width:576px) {
    .gap_6 {
        gap: 6px;
    }

    .gap_sm_17 {
        gap: 17px;
    }

    .mt_sm_40 {
        margin-top: 40px;
    }

    .mt_sm_40 {
        margin-top: 40px;
    }

    .mt_sm_80 {
        margin-top: 80px;
    }

    .orng_underline2::after {
        content: '';
        position: absolute;
        background-image: url(../images/png/ornge-bottom-line.png);
        max-width: 345px;
        width: 100%;
        min-height: 11px;
        left: 0;
        bottom: -8px;
        background-size: 241px 9px;
        background-repeat: no-repeat;
        display: block;
    }

    .slider_content_box {
        max-width: 307px;
    }

    .position_prev {
        top: 55%;
        left: 0;
    }

    .position_next {
        top: 55%;
        right: 0;
    }
}

@media (min-width:768px) {
    .footer_rowGap_30 {
        row-gap: 30px;
    }

    .hero_btn {
        padding: 17px 38px;
    }

    .py_md_120 {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .py_md_120_10 {
        padding-top: 120px;
        padding-bottom: 10px;
    }

    .py_md_80 {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .py_md_80 {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .pt_md_98 {
        padding-top: 98px;
    }

    .py_md_60_50 {
        padding-top: 60px;
        padding-bottom: 50px;
    }

    .mb_14 {
        margin-bottom: 14px;
    }

    .mb_md_40 {
        margin-bottom: 40px;
    }

    .mb_md_20 {
        margin-bottom: 20px;
    }

    .mb_md_40 {
        margin-bottom: 40px;
    }

    .mt_md_50 {
        margin-top: 50px;
    }

    .mt_md_80 {
        margin-top: 80px;
    }

    .mt_md_21 {
        margin-top: 21px;
    }

    .mt_md_22 {
        margin-top: 22px;
    }

    .mt_md_38 {
        margin-top: 38px;
    }

    .max_w_565 {
        max-width: 565px;
    }

    .max_w_556 {
        max-width: 556px;
    }

    .max_w_766 {
        max-width: 766px;
    }

    .max_w_558 {
        max-width: 558px;
    }

    .flex_grow_1 {
        flex-grow: 1;
    }

    .d_flex {
        display: flex;
    }

    .min_vh_100 {
        min-height: 100vh;
    }

    .h_100 {
        height: 100%;
        object-fit: contain;
    }

    .position_orngBall {
        top: 33%;
        right: 62%;
    }

    .position_right_smalImg {
        top: 60%;
        right: 5%;
    }

    .position_left_smalImg {
        top: 50%;
        left: 10%;
    }

    .position_ellipHero {
        top: 44%;
        right: 39%;
        opacity: 51%;
        filter: blur(74px);
    }

    .position_clientImg {
        top: 8%;
        left: 36%;
    }

    .lh-md-25 {
        line-height: 25px;
    }

    .lh-md-28 {
        line-height: 28px;
    }

    .lh-md-39 {
        line-height: 39px;
    }

    .lh-md-42 {
        line-height: 42px;
    }

    .lh-md-62 {
        line-height: 62px;
    }

    .lh-md-52 {
        line-height: 52px;
    }

    .slider_content_box {
        max-width: 357px;
    }

    #slider_theam .slick-list {
        padding: 18.5px 0;
    }

    .themes_box {
        margin-top: 60px;
    }
}

@media (max-width:767.99px) {
    .py_30_114 {
        padding-top: 30px;
        padding-bottom: 114px;
    }

    .ps_md_0 {
        padding-left: 0;
    }

    .max_w_29 {
        max-width: 29px;
    }

    .max_w_20 {
        max-width: 20px;
    }

    .red_box {
        padding: 10px;
    }

    .justify_content_center {
        justify-content: center;
    }
}

@media (min-width:992px) {
    .opacity-90 {
        opacity: 90%;
    }

    .max_w_524 {
        max-width: 524px;
    }

    .max_w_487 {
        max-width: 487px;
    }

    .max_w_499 {
        max-width: 499px;
    }

    .ml_lg_68 {
        margin-left: 68px;
    }

    .mr_lg_72 {
        margin-right: 72px;
    }

    .mb_lg_45 {
        margin-bottom: 45px;
    }

    .mt_11 {
        margin-top: 11px;
    }

    .mt_lg_40 {
        margin-top: 40px;
    }

    .mt_lg_69 {
        margin-top: 69px;
    }

    .mt_lg_83 {
        margin-top: 83px;
    }

    .mb_lg_40 {
        margin-bottom: 40px;
    }

    .mb_lg_50 {
        margin-bottom: 50px;
    }

    .mb_lg_33 {
        margin-bottom: 33px;
    }

    .py_lg_165_160 {
        padding-top: 165px;
        padding-bottom: 160px;
    }

    .py_lg_160 {
        padding-top: 160px;
        padding-bottom: 160px;
    }

    .py_lg_160_1 {
        padding-top: 160px;
        padding-bottom: 1px;
    }

    .py_lg_80 {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .py_lg_100 {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .pt_lg_208 {
        padding-top: 208px;
    }

    .lh-lg-47 {
        line-height: 47px;
    }

    .lh-lg-29 {
        line-height: 29px;
    }

    .lh-lg-25 {
        line-height: 25px;
    }

    .orng_underline2::after {
        display: none;
    }

    .orng_underline1::after {
        content: '';
        position: absolute;
        background-image: url(../images/png/ornge-bottom-line.png);
        max-width: 345px;
        width: 100%;
        min-height: 11px;
        left: 0;
        bottom: -11px;
    }

    .red_box {
        transform: translateY(50%);
    }

    .themes_box {
        margin-top: 0;
    }
}

@media (min-width:1200px) {
    .position_prev {
        left: 4%;
    }

    .position_next {
        right: 6%;
    }
}