@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url(../css/root.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none !important;
}

.ff_rubik {
    font-family: 'Rubik', sans-serif;
}

.opacity_80 {
    opacity: 80%;
}

/* ===========font-weight========== */
.fw-normal {
    font-weight: 400 !important;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-semibold {
    font-weight: 600;
}

/* ===========line-height========== */
.lh-19 {
    line-height: 19px;
}

.lh-23 {
    line-height: 23px;
}

.lh-25 {
    line-height: 25px;
}

.lh-26 {
    line-height: 26px;
}

.lh-28 {
    line-height: 28px;
}

.lh-37 {
    line-height: 37px;
}

.lh-47 {
    line-height: 47px;
}

.lh-53 {
    line-height: 53px;
}

.lh-62 {
    line-height: 62px;
}

.container_1140 {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.opacity_70 {
    opacity: 70%;
}

.cross span:nth-child(1) {
    transform: rotate(42deg) translateY(16px);
    transition: 300ms linear;
}

.cross span:nth-child(2) {
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.5ms linear;
}

.cross span:nth-child(3) {
    transform: rotate(-43deg) translateY(-15px);
    transition: 300ms linear;
}

/* ========hero=========== */
.gap_30 {
    gap: 30px;
}

.gap_41 {
    gap: 41px;
}

.gap_17 {
    gap: 17px;
}

.mb_20 {
    margin-bottom: 20px;
}

.mt_35 {
    margin-top: 35px;
}

.comn_btn {
    padding: 17px 38px;
    background: var(--clr-lightRed);
    border-radius: 41px;
    border: 1px solid transparent;
    transition: all 0.1s linear;
}

.comn_btn:hover {
    background: transparent;
    color: var(--clr-lightRed);
    border: 1px solid var(--clr-lightRed);
}

.hero_btn {
    padding: 17px 38px;
    border-radius: 41px;
    border: 1px solid var(--clr-lightRed);
    background: transparent;
    transition: all 0.2s linear;
}

.hero_btn:hover {
    background: var(--clr-lightRed);
    color: var(--clr-lightWhite);
}

.position_page1 {
    top: 9%;
    left: 40px;
}

.position_page2 {
    top: 9%;
    right: 55px;
}

.position_page3 {
    bottom: 1%;
    left: 85px;
}

.position_page4 {
    bottom: 1%;
    right: 85px;
}

.position_orngBall {
    top: 10%;
    right: 73%;
}

.hero_ellip {
    width: 518px;
    height: 95px;
    background: var(--clr-lightRed);
}

.position_ellipHero {
    top: 17%;
    right: 25%;
    opacity: 54%;
    filter: blur(74px);
}

.position_left_smalImg {
    top: 36%;
    left: 18%;
}

.position_right_smalImg {
    top: 26%;
    right: 5%;
}

.position_heroBottom_img {
    bottom: 10%;
    right: 43%;
}

.nav_links {
    position: relative;
}

.nav_links::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--clr-lightRed);
    left: 50%;
    transform: translatex(-50%);
    bottom: 0;
    transition: all 0.1s linear;
}

.nav_links:hover::after {
    width: 100%;
}

.nav_links:hover {
    color: var(--clr-lightRed);
}

.slick-dots li.slick-active {
    background: var(--clr-lightRed);
    width: 23px;
    height: 5px;
}

.slick-dots li button:before {
    content: unset;
}

.slick-dots li {
    content: unset;
    width: 16px;
    height: 5px;
    background: var(--clr-black10);
    margin: 4px;
    border-radius: 6px;
    transition: all 300ms linear;
}

/* ===========themes============= */
.py_100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.themes_box {
    box-shadow: 0px 4px 30px 0px #0000000A;
    border: 1px solid #00000008;
    max-width: 156px;
    height: 141px;
    border-radius: 8px;
    background: beige;
}

.slick-track {
    display: flex;
    gap: 16px;
}

#slider_theam .slick-slide.slick-current.slick-active .themes_box {
    border: 1px solid #F36A3E66;
    box-shadow: 0px 4px 30px 0px #0000000A;
}

/* ===============powerflul============= */
.py_40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mx_w_78 {
    width: 78px;
}

.powerfulll_cubePosition {
    top: 7%;
    right: 5%;
}

.position_orangeBall_powerfull {
    top: 14%;
    left: 5%;
}

.position_roundShap_powerfull {
    bottom: 14%;
    left: 46%;
}

/* ===============will-help============ */
.max_w_161 {
    max-width: 161px;
}

.help_rowGap {
    row-gap: 40px;
}


@media (max-width:991.99px) {
    .overFlowHidden {
        overflow: hidden;
    }

    .menulist {
        width: 100%;
        height: 100vh;
        height: 100%;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column;
        transition: all 300ms linear;
        z-index: 3;
        background: white;
    }

    .menuIcon {
        width: 40px;
        cursor: pointer;
        transition: all 300ms linear;
    }

    .menuIcon>span {
        height: 3px;
        background: black;
        transition: all 300ms linear;
    }

    .max_w_31 {
        max-width: 31px;
    }

    .w_40 {
        max-width: 40px;
    }

    .orng_underline2::after {
        content: '';
        position: absolute;
        background-image: url(../images/png/ornge-bottom-line.png);
        max-width: 345px;
        width: 100%;
        min-height: 11px;
        left: 0;
        bottom: -8px;
        background-size: 241px 9px;
        background-repeat: no-repeat;
    }
}

@media (max-width:768px) {
    .max_w_29 {
        max-width: 29px;
    }
}

@media (min-width:768px) {
    .py_md_120 {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .py_md_80 {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .max_w_565 {
        max-width: 565px;
    }

    .max_w_556 {
        max-width: 556px;
    }

    .flex_grow_1 {
        flex-grow: 1;
    }

    .d_flex {
        display: flex;
    }

    .min_vh_100 {
        min-height: 100vh;
    }

    .max_w_766 {
        max-width: 766px;
    }

    .mb_14 {
        margin-bottom: 14px;
    }

    .position_orngBall {
        top: 35%;
        right: 62%;
    }

    .position_right_smalImg {
        top: 60%;
        right: 5%;
    }

    .position_left_smalImg {
        top: 50%;
        left: 10%;
    }

    .position_ellipHero {
        top: 44%;
        right: 39%;
        opacity: 51%;
        filter: blur(74px);
    }

    .lh-md-62 {
        line-height: 62px;
    }

    .lh-md-39 {
        line-height: 39px;
    }

    .mb_lg_40 {
        margin-bottom: 40px;
    }
}

@media (max-width:768px) {
    .py_30_114 {
        padding-top: 30px;
        padding-bottom: 114px;
    }

    .max_w_20 {
        max-width: 20px;
    }

    .justify_content_center {
        justify-content: center;
    }
}

@media (min-width:992px) {
    .max_w_524 {
        max-width: 524px;
    }

    .max_w_487 {
        max-width: 487px;
    }

    .max_w_499 {
        max-width: 499px;
    }

    .mt_11 {
        margin-top: 11px;
    }

    .py_lg_165_160 {
        padding-top: 165px;
        padding-bottom: 160px;
    }

    .py_lg_146_160 {
        padding-top: 146px;
        padding-bottom: 160px;
    }

    .lh-lg-47 {
        line-height: 47px;
    }

    .orng_underline1::after {
        content: '';
        position: absolute;
        background-image: url(../images/png/ornge-bottom-line.png);
        max-width: 345px;
        width: 100%;
        min-height: 11px;
        left: 0;
        bottom: -11px;
    }
}